{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>
        {% if category %}
            {% trans "Category: " %}{{ category.name }}
        {% else %}
            {% translate "Contacts" %}
        {% endif %}
    </h1>

    <p>
        <a href='{% url 'contacts:create' %}'>{% translate "Add contact" %}</a>
    </p>

    {% for contact in contacts %}
        <div>
            <h4>
                {% if contact.has_category %}
                    [<a href='{% url "contacts:list" %}?category={{ contact.category_id }}'>{{ contact.category }}</a>]   
                {% endif %}
                <a href='{{ contact.get_absolute_url }}'>{{ contact.full_name }}</a>
            </h4>
            <p>{{ contact.email }}</p>
        </div>
    {% endfor %}

{% endblock content %}