{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ contact.name }}{% endblock title %}

{% block content %}
    {% if contact.photo %}
        <figure>
            <img src='{{ contact.photo.url }}'>
        </figure>
    {% endif %}

    <h1>{{ contact.full_name }}</h1>

    <p>
        <a href='{% url 'contacts:update' contact.slug %}'>{% translate "Edit contact" %}</a> | 
        <a href='{% url 'contacts:delete' contact.slug %}'>{% translate "Delete contact" %}</a>
    </p>
    
    <p>
        <strong>{% translate "Email: " %}</strong>{{ contact.email}}
    </p>

    <p>
        <strong>{% translate "Phone: " %}</strong>{{ contact.phone}}
    </p>

    {% if contact.address %}
        <p>
            <strong>{% translate "Address: " %}</strong>{{ contact.address}}
        </p>
    {% endif %}
    
    {% if contact.notes %}
        <p>
            <strong>{% translate "Notes: " %}</strong>{{ contact.notes}}
        </p>
    {% endif %}

    <p><small>{% translate "Added " %}{{ contact.created_at | date:"N j, Y" }}</small></p>
{% endblock content %}
