{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if category %}
        {% trans "Category: " %}{{ category.name }}
    {% else %}
        {% translate "Contacts" %}
    {% endif %}
{% endblock title %}

{% block content %}
    <h1>
        {% if category %}
            {% trans "Category: " %}{{ category.name }}
        {% else %}
            {% translate "Contacts" %}
        {% endif %}
    </h1>

    <p>
        <a href='{% url 'contacts:create' %}'>{% translate "Add contact" %}</a>
    </p>

    {% for contact in contacts %}
        {% include "contacts/_contact.html" %}
    {% endfor %}

{% endblock content %}