{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="'UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <title>{% block title %} {% block head_title %}Home{% endblock head_title %}{% endblock %}Contcts Application</title>

</head>

{% block extra_head %}{% endblock extra_head %}

<body>
    <header>
        <h1>{% translate "Contacts App" %}</h1>

        <nav>
            <ul>
                <li>
                    <a href='{% url "index" %}'>{% translate "Home" %}</a>
                </li>
                <li>
                    <a href='{% url "contacts:list" %}'>{% translate "Contacts" %}</a>
                </li>
                
                {% if user.is_authenticated %}
                    <li>
                        <a href='{% url "account_logout" %}'>{% translate "Log out" %}</a>
                    </li>
                {% else %}
                    <li>
                        <a href='{% url "account_login" %}'>{% translate "Log in" %}</a>
                    </li>
                    <li>
                        <a href='{% url "account_signup" %}'>{% translate "Signup" %}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% if messages %}
        <div>
            <strong>{% trans "Messages:" %}</strong>
            <ul>
                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        </div>
    {% endif %}

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <p>&copy; 2024, Sikorsky Software Group Inc.</p>

        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" title="Language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Change</button>
        </form>
    </footer>

    {% block extra_body %}
    {% endblock extra_body %}
</body>
